@import 'antd/dist/antd.css';
.circle{
 



}
.tlogo{
  position: absolute;
left: 10%;
top:5%;
}

.knife{
 position:absolute;
 left: 23%;
 top: 15%;
}

.spoon{
  position:absolute;
 left: 23%;
 top: 15%;
}
.title{
width: 94px;
height: 35px;


font-family: Segoe UI;
font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 39px;

color: #FFFFFF;
}

@media screen and (max-width: 600px) {
  .tlogo{
    position: absolute;
  left: 40%;
  top:5%;
  }
  
  }